<div [ngClass]="{
    'mode_jour':condition,
    'mode_nuit':!condition
}">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus beatae quidem reprehenderit. Suscipit,
        cumque
        culpa quasi recusandae maxime qui labore consequuntur quidem. Laboriosam quas odio quam, quo, non consequuntur
        fugiat modi tenetur dicta voluptas, ipsam molestias totam numquam et soluta dolore accusantium? Placeat beatae
        esse
        nisi molestias aperiam inventore neque harum corporis sed voluptate deleniti dicta minima doloremque nesciunt in
        a,
        necessitatibus laborum quisquam? Reiciendis fugit tempore commodi accusamus deserunt, ut aliquid at corrupti
        dolorem
        voluptatem, harum possimus, exercitationem consequuntur vel? Modi eum accusamus perferendis vel et nesciunt nemo
        repellendus similique, numquam ratione expedita. Facere totam qui similique quo molestias.
    </p>
    <h1>Lorem ipsum dolor sit amet.</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A optio iure eos quam officia cupiditate asperiores cum
        placeat repudiandae, quia veniam repellat? Exercitationem neque nam quisquam quas esse consequuntur saepe
        reprehenderit totam ipsum explicabo tempora, facere soluta perferendis nostrum perspiciatis velit, ea id
        possimus minus. Perspiciatis, eum mollitia. Eligendi molestias ad temporibus provident. Aliquid beatae, natus
        atque rerum itaque facere nesciunt recusandae vitae necessitatibus in magni repellat expedita veritatis
        repudiandae enim quibusdam minus vero culpa, repellendus a porro sapiente. Ad quasi, cupiditate iure mollitia
        vitae odio, sit, libero assumenda qui quae ipsa. Esse blanditiis vitae deleniti soluta a incidunt magni.
    </p>

    <button (click)="changer()">change</button>
</div>

Exo3 :
creez un compteur avec les fonctionnalités suivantes:
1- un bouton pour incrémenter
2- un bouton pour décrémenter
3- les nombres paires ont la couleur rouge
4- les nombres impaires ont la couleur verte